@charset "utf-8";





.p_modal-item .modal-cont .img-box .img {
	max-width: 503px;
}

.p_modal-item .modal-cont .img-box .txt-wrap .txt {
	margin-top: 40px;
}

/* @SP */
@media all and (max-width: 768px){
	.p_modal-item .modal-cont .img-box {
		display: block;
	}

	.p_modal-item .modal-cont .img-box .txt-wrap .txt{
		margin-top: 30px;
	}
}

.swiper-container {
	width: 100%;
	overflow: hidden;
	padding-bottom: 30px;
}
.swiper-wrapper {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 100%;
}
.swiper-container-horizontal>.swiper-pagination-bullets {
	bottom: 0;
}
.swiper-pagination-bullet {
	background: #666;
	opacity: .7;
}
.swiper-pagination-bullet-active {
	background: #7f0202;
}

html body{
	position: relative;
}
