@charset "utf-8";

html{
  overflow-y: scroll;
}


body{
  min-width: 1300px;
  overflow: hidden;
}

/* @SP */
@media all and (max-width: 768px) {
    body{
      overflow: visible;
      min-width: 320px;

    }
}

#Header{
  position: relative;
  min-width: 1300px;
  z-index: 80;
}

@media all and (max-width: 768px) {
    #Header{
      min-width: 0;
      height: auto;
    }
}

